


.tout {
  display: grid;
  grid-template-columns: 1fr;
  
}

.video {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 1fr;

  text-align: center;
  opacity: 0.9;
  margin-top: 0px;

}

.wrapper {
  display: inline-block;
  margin-top: 0px;
  padding-bottom: 20px;
}

.fond-blanc {
  background: rgba(255, 255, 255, 0.9);
  width: 70%;
    height: 400px;
    margin: auto;
min-width: 600px;
max-width: 100px;

}



 








// Arrows

.arrow-up {
    width: 0;
    height: 0;
    
    border-right: 16px solid transparent;
    border-left: 16px solid transparent;
    
    border-bottom: 20px solid #8888e8;
}

.arrow-right {
    width: 0;
    height: 0;
    
    border-top: 16px solid transparent;
    border-bottom: 16px solid transparent;
    
    border-left: 20px solid #e888a3;
}

.arrow-down {
    width: 0;
    height: 0;
    
    border-right: 16px solid transparent;
    border-left: 16px solid transparent;
    
    border-top: 20px solid gray;
    margin-left: 60px;
  }

.arrow-left {
    width: 0;
    height: 0;
    
    border-top: 16px solid transparent;
    border-bottom: 16px solid transparent;
    
    border-right: 20px solid #8de698;
}




.arrow-box {
    width: 0;
    height: 0;
    
    border-top: 40px solid #f7df6c;
    border-right: 40px solid #8de698;
    border-bottom: 40px solid #8888e8;
    border-left: 40px solid #e888a3;
    
    &.has-width {
        width: 20px;
        height: 20px;
    }
}



// Formats



.arrow-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 0 0;
    
    > * {
        margin: 0 20px;
    }
}

.title {
    text-transform: uppercase;
    font-size: 1rem;
    color: rgba(0,0,0,0.3);
    text-align: center;
    font-weight: 400;
    margin: 0;
}

.arrow-boxes {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 0 0;
    
    > * {
        margin: 0 20px;  
    }
}

hr {
    border: none;
    height: 1px;
    background: rgba(0,0,0,0.1);
    margin: 60px 0;
}

