<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Appart Tayou</title>
        <link rel="stylesheet" href="appart-styles/haut.css">
        <link rel="stylesheet" href="appart-styles/carroussel.css">
        <link rel="stylesheet" href="appart-styles/general.css">
        
        <link rel="stylesheet" href="/slick-1.8.1/slick/slick.css">
<script src="/slick-1.8.1/slick/slick.js"></script>
    
    </head>

    <body>
        <div class="tout">
        <div class="haut-de-page"> 
            <div> APPARTAYOU</div> 
        </div>
        <div class="titre-video">
            DÉCOUVREZ EN VIDEO
        </div>
        <div class="wrapper">
            <div class="embed-responsive embed-responsive-16by9">
       <iframe width="560" height="315" src="https://www.youtube.com/embed/4sltscJvKYI" frameborder="0" allowfullscreen></iframe>
    </div> 
            </div>
    <div class="slider">
        <!-- Créez la div du carrousel -->
        <div class="img-div div1"></div>
        <div class="img-div div2"></div>
        <div class="img-div div3"></div>
        <div class="img-div div4"></div>
        <div class="img-div div5"></div>
        <div class="img-div div6"></div>
        <div class="img-div div7"></div>
        <div class="img-div div8"></div>
        <div class="img-div div9"></div>
        <div class="img-div div10"></div>
        <div class="img-div div11"></div>
        <div class="img-div div12"></div>
        <div class="img-div div13"></div>
        <div class="img-div div14"></div>

        </div>
        
        <script>
            $('.carrousel').slick({
              inFinite: true,  
              slidesToShow: 3,
              slidesToScroll: 3

            });
          </script>
    </div>
    </body>
</html>