<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Appart Tayou</title>
        <link rel="stylesheet" href="appart-styles/haut.css">
        <link rel="stylesheet" href="appart-styles/carroussel.css">
        <link rel="stylesheet" href="appart-styles/charactéristiques.css">
        <link rel="stylesheet" href="appart-styles/general.css">
        <link rel="stylesheet" href="appart-styles/tarifs.css">
        
        <link href="//cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script type="text/javascript" src="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.0/slick/slick.min.js"></script>
        <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.0/slick/slick.css"/>    
      
        <style>
          body {
            background-image: url('images/arriere/beau2.jpg') ;
            background-size : 100%;
            background-attachment: fixed;
            background-position: center;
            
          }
        </style>
      
      </head>

        
    <body>
   
      
        <div class="haut-de-page"> 
            <div class="titre"> APPARTAYOU</div> 
            <div class="titre1">Le séjour de vos rêves</div>
        </div>

        
        <div class="fond-blanc">

        <div class="titre-video">
          Visitez en video
      </div>
        <div class="video">
        <div class="wrapper">
            <div class="embed-responsive embed-responsive-16by9">
       <iframe width="560" height="315" src="https://www.youtube.com/embed/4sltscJvKYI" frameborder="0" allowfullscreen></iframe>
    </div> 
            </div>
          </div>
    <div class="carrousel-container">
      <div class="carrousel">
        <div ><img src="images/photos-appart/salon1.png" ></div>
        <div ><img src="images/photos-appart/salon2.png"></div>
        <div ><img src="images/photos-appart/salon3.png"></div>
        <div ><img src="images/photos-appart/salon4.png"></div>
        <div ><img src="images/photos-appart/cuisine.png"></div>
        <div ><img src="images/photos-appart/cuisine1.0.png"></div>
        <div ><img src="images/photos-appart/cuisine1.1.png"></div>
        <div ><img src="images/photos-appart/toilettes.png"></div>
        <div ><img src="images/photos-appart/chambre2.png"></div>
        <div ><img src="images/photos-appart/chambre1.png"></div>
      </div>
    </div>

        

    <div class="charactéristiques">
      <div class="titre-des">
        Appartement pour 6 pers. au centre de Yaoundé
      </div>
      <div class="titre-des1">
        Louez ce magnifique logement
      </div>
      <div class="div-images-des">
        <div><img src="images/icons/équerre.svg">60 m&sup2</div>
        <div>
          <img src="images/icons/buildings.svg">
          Appartement</div>
        <div><img src="images/icons/multiple-users-silhouette_1.svg">6 Personnes</div>
        <div><img src="images/icons/bed.svg">3 Chambres</div>

      </div>
      <div class="titre-des3"> Description</div>
      <div class="arrow-wrapper">
        <div class="arrow-down"></div>
    </div>
    <div class="texte-des">
      Situé au coeur de Yaoundé, proche de tous les commerces, cet appartement est le choix idéal pour ceux qui cherchent un logement confortable et bien situé. 
      Avec ses 3 chambres, son salon spacieux et lumineux, sa cuisine moderne et bien équipée, et sa salle de bain pratique et fonctionnelle, il répond à toutes les exigences. 
      Propre et sécurisé, il offre un cadre de vie paisible et agréable.

    </div>
    <div class="titre-des3"> Services et équipements additionnels</div>
    <div class="titre-des3-div">
    <div>
      <img src="images/icons/coche.svg"> Wifi (5€)

    </div>
    <div>
      <img src="images/icons/coche.svg"> Télé (5€)

    </div>
    <div>
      <img src="images/icons/coche.svg"> cuisinière 

    </div>
    <div>
      <img src="images/icons/coche.svg"> Frigo 

    </div>
    <div>
      <img src="images/icons/coche.svg"> Micro-ondes 
    </div>
    
    
  </div>
</div>
  <div class="tarifs">
    <div class="titre-tar1"> Tarifs</div>
    <table class="tableau">
      <tr>
        <td>Saisons</td>
        <td>1 nuit</td>
        <td>3 nuits</td>
        <td>1 semaine</td>
        <td>3 semaines</td>
      </tr>
      <tr>
        <td class="saisons">hiver</td>
        <td>30€</td>
        <td>75€</td>
        <td>160€</td>
        <td>500€</td>
      </tr>
      <tr>
        <td class="saisons">été</td>
        <td>40€</td>
        <td>95€</td>
        <td>200€</td>
        <td>600€</td>
      </tr>
    </table>
    
  </div>
  <div class="disponibilités">
    <div class="titre-cal"> Calendrier et Disponibilités
      <iframe src="https://calendar.google.com/calendar/embed?src=2f4549ca8b37ecdbde33974185d8f0a86dff1185fdf0aff302a686aaa81c04b2%40group.calendar.google.com&ctz=Europe%2FBrussels" style="border: 0" width="500" height="400" frameborder="0" scrolling="no"></iframe>    </div>
  </div>
  <div class="contact">
    <button class="button-contact">
      <a href="https://wa.me/32465603890?text=Informations_sur_l'_appartement,%20comment%20vas-tu%20?">
        Nous contacter</a>
    </button>
  </div>
</div>

        <script>
            $('.carrousel').slick({
              infinite: true,
              slidesToShow: 1,
              slidesToScroll: 1

            });
          </script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.0/slick/slick.min.js"></script> 
      
  </body>
</html>